.btn{
    height: 40px;
    font-size: 18px;
    background: #0072ff;
    border: #0072ff;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
}
.btn1{
        height: 40px;
        font-size: 18px;
        background: #d79010;
        border: #d79010;
        color: #fff;
        border-radius: 4px;
        padding: 10px;
}
.btn2{
    height: 40px;
    font-size: 18px;
    background: #1faec5;
    border: #1faec5;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
}